<div class="instrument">
  <h4>
    <%= instrument.name %>
    <%= link_to 'Show', instrument %>
    <% if instrument.user == current_user %>
    	<%= link_to 'Edit', edit_instrument_path(instrument) %>
    <% end %>
  </h4>
</div>
