<h4>
  <small>
    <% if policy(instrument).edit? %>
      <%= link_to 'Edit', edit_instrument_path(instrument) %>
    <% end %>
  </small>
  <small>
    <% if policy(instrument).destroy? %>
      <%= link_to 'Destroy', instrument_path(instrument),
                             method: :delete,
                             data: { confirm: 'Sure?' } %>
    <% end %>
  </small>
</h4>
<p><strong>Owner: </strong><%= instrument.member.email %></p>
<p><%= instrument.description %></p>
