<h1>Avaiable instruments</h1>

<div>
  <%= render 'instruments', instruments: @instruments %>
</div>

<div data-controller='instruments'>
  <h2>
    <button data-action='instruments#reveal'>
      My instruments
    </button>
  </h2>
  <div data-target='instruments.list' class="hidden">
    <%= render 'instruments', instruments: @member_instruments %>
  </div>
</div>
