<h1>Instruments</h1>

<div>
  <% @instruments.each do |i| %>
    <h4>
      <%= i.category %> |
      <strong><%= i.price %><small><strong>eur</strong></small></strong> |
      <small><%= link_to 'Details', instrument_path(i) %></small>
    </h4>
    <p><small><%= i.address %></small></p>
  <% end %>
</div>
